<!-- <style>
    .navbar-nav {
        list-style-type: none;
    }
    .navbar-nav li {
        counter-increment: list-counter;
        position: relative;
        padding-left: 1em;
    }
    .navbar-nav li::before {
        content: counter(list-counter, decimal-leading-zero) ". ";
        position: absolute;
        left: 0;
    }
</style> -->

<nav class="navbar navbar-expand-md mb-5 navbar-right nav-effect" [class.nav_effect]="{'nav_effect': scrollY > 0, 'nav_hidden': navHidden}">
    <div class="container">
        <div class="navbar-brand logo">
            <img src="img/fox-logo.png" alt="Logo">
        </div>
        <div class="nav_holder d-flex justify-content-between align-items-center">
            <div class="navbar-collapse">
                <ol class="navbar-nav me-auto">
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#jobs">Experience</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item me-5">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ol>
            </div>
            <a class="nav_resume" href="/resume.pdf">Resume</a>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-md border-bottom mb-5">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary">Resume</a>
            </li>
        </ul>
    </div>
</nav> -->
