.navbar-nav {
	counter-reset: li;
	list-style-type: decimal-leading-zero;
	color:  #8bbfff;
    display: flex;
    /* flex-wrap: wrap; */
}

.nav-effect {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
}

.nav_resume {
	color: #8bbfff;
	/* border: 3px solid  #00196D; */
	border: 3px solid  #D72323;
	padding: 3px;
    text-decoration: none;
}



.navbar-nav li {
	color: #D72323;
	content: counter(li, decimal-leading-zero);
    /* flex: 1 0 100%; */
    /* margin-bottom: 10px; */
}

.navbar-nav a {
	color: #8bbfff;
    text-decoration: none;
}